.ProductList {
    width: 100%;
}
@media screen and (max-width: 1472px) {
    .ProductList {
        padding: 0 auto !important;
    }
  }
  @media screen and (max-width: 425px) {
    .ProductList {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: start;
        padding: 0;
        margin: 0;
    }
  }
