.Shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.products-shop {
    display:flex;
    flex-direction: column;
}



.noneword {
    text-align:center;
    font-size: 18px;
    margin-top: 20px;
}



@media only screen  and (max-width:768px){
    .searchbar {
        width: 180px;
    }

    .shopContainer {
        width: 100%;
    }

    .search-box {
        width:227px;
    }

}